<footer>
	<div class="container">
		<div class="row contact-row no-gutters">
			<div class="col-md-4 contact">
				<h4 class="font-weight-bold text-white">Contact us</h4>
				<div class="contact-infos">
					<div>T: +250788000000</div>
					<div>E: yveshonore14@gmail.com</div>
					<div>A: Kimihurura</div>
				</div>
				<div class="social-medias">
					<i class="icon icon-google"></i>
					<i class="icon icon-twitter"></i>
					<i class="icon icon-notification"></i>
					<i class="icon icon-linkedin"></i>
				</div>
			</div>
			<div class="col-md-8 pr-0 form">
				<div class="row">
					<div class="col-md-6 form-group">
						<input type="text" class="form-control rounded-0" name="name" placeholder="Name">
					</div>
					<div class="col-md-6 form-group">
						<input type="email" class="form-control rounded-0" name="email" placeholder="Email">
					</div>
					<div class="col-md-12 form-group">
						<textarea class="form-control rounded-0" placeholder="Message" rows="5"></textarea>
					</div>
					<div class="col-md-12">
						<button class="btn btn-sm bg-awesome-orange px-4 float-right rounded-0">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid copyright">
		<div class="row">
			<div class="col-md-6">
				<div class="	text-left">
						Challenge by 
						<span class="font-weight-bold">Awesomity Ltd</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-right">
					Developed by <span class="text-awesome">Vainqueur BIHAME</span>
				</div>
			</div>
		</div>
	</div>
</footer>
