<div class="dashboard">
	<div class="search-banner">
		<div class="restaurant-logo">
			<div class="logo-img">
				<img src="../../assets/images/restaurant.png">
			</div>
			<div class="logo-description">
				<h4 class="font-weight-bold text-white">KUGASIMA CAFFEE</h4>
				<span class="text-light">Kimihurira</span>
			</div>
		</div>
	</div>
	<div class="restaurant-infos">
		<div class="container">
			<div class="row">
				<div class="col-md-5 rounded">
					<div class="p-0 bg-white awesome-shadow rounded">
						<div class="r-header">
							<div class="info font-weight-bold" (click)="viewInfos()">INFO</div>
							<div class="ratings font-weight-bold">RATINGS</div>
						</div>
						<div class="r-content">
							<div class="rating">
								<div class="avatar"></div>
								<div class="review">
									<div class="reviewer font-weight-bold">Yves Honore</div>
									<span class="text-awesome">5 Starts</span>
									<div class="review-comment mt-3 text-muted">
										The Best Banjiya I've ever had. It tasted a little sweet. Keep it up guys.
									</div>
								</div>
							</div>
							<div class="rating">
								<div class="avatar"></div>
								<div class="review">
									<div class="reviewer font-weight-bold">Yves Honore</div>
									<span class="text-awesome">5 Starts</span>
									<div class="review-comment mt-3 text-muted">
										The Best Banjiya I've ever had. It tasted a little sweet. Keep it up guys.
									</div>
								</div>
							</div>
							<div class="rating">
								<div class="avatar"></div>
								<div class="review">
									<div class="reviewer font-weight-bold">Yves Honore</div>
									<span class="text-awesome">5 Starts</span>
									<div class="review-comment mt-3 text-muted">
										The Best Banjiya I've ever had. It tasted a little sweet. Keep it up guys.
									</div>
								</div>
							</div>
							<div class="rating">
								<div class="avatar"></div>
								<div class="review">
									<div class="reviewer font-weight-bold">Yves Honore</div>
									<span class="text-awesome">5 Starts</span>
									<div class="review-comment mt-3 text-muted">
										The Best Banjiya I've ever had. It tasted a little sweet. Keep it up guys.
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="bg-white awesome-shadow rounded menus">
						<h5 class="text-awesome font-weight-bold">Menu</h5>
						<div class="menu-list">
							<h5 class="font-weight-bold mt-4">Breakfast</h5>
							<div class="menu-item">
								<div class="menu-name">IBIRAHI</div>
								<div class="menu-price text-awesome">200 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">IRINDANZI</div>
								<div class="menu-price text-awesome">100 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">IBISHITANI</div>
								<div class="menu-price text-awesome">400 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">BANJIYA</div>
								<div class="menu-price text-awesome">50 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">SAMBUSA</div>
								<div class="menu-price text-awesome">200 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">ROLEX</div>
								<div class="menu-price text-awesome">300 Frw</div>
							</div>
						</div>
						<div class="menu-list">
							<h5 class="font-weight-bold mt-4">Lunch</h5>
							<div class="menu-item">
								<div class="menu-name">INYANGE</div>
								<div class="menu-price text-awesome">1000 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">CHAPATI NIBISHIMBO</div>
								<div class="menu-price text-awesome">500 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">UMUCERI NISOSI</div>
								<div class="menu-price text-awesome">400 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">BANJIYA</div>
								<div class="menu-price text-awesome">1500 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">INYAMA</div>
								<div class="menu-price text-awesome">800 Frw</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>