<div class="dashboard">
	<div class="search-banner">
		<div class="restaurant-logo">
			<div class="logo-img">
				<img src="../../assets/images/restaurant.png">
			</div>
			<div class="logo-description">
				<h4 class="font-weight-bold text-white">KUGASIMA CAFFEE</h4>
				<span class="text-light">Kimihurira</span>
			</div>
		</div>
	</div>
	<div class="restaurant-infos">
		<div class="container">
			<div class="row">
				<div class="col-md-5 rounded">
					<div class="p-0 bg-white awesome-shadow rounded">
						<div class="r-header">
							<div class="info font-weight-bold" (click)="viewInfos()">INFO</div>
							<div class="ratings font-weight-bold" (click)="viewRatings()">RATINGS</div>
						</div>
						<div class="r-content">
							<div class="c-row">
								<div class="c-left font-weight-bold">NAME</div>
								<div class="c-right text-muted">KUGASIMA CAFFEE</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">PHONE</div>
								<div class="c-right text-muted">+(250) 780 000 000</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">WEBSITE</div>
								<div class="c-right text-muted">www.kugasima.rw</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">LOCATION</div>
								<div class="c-right text-muted">Kimihurura</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">ONLINE DELIVERY</div>
								<div class="c-right text-muted">Yes</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">TABLE BOOKING</div>
								<div class="c-right text-muted">Yes</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">CUISINES</div>
								<div class="c-right text-muted">Cafe</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">CURRENCY</div>
								<div class="c-right text-muted">$</div>
							</div>
							<div class="c-row">
								<div class="c-left font-weight-bold">PRICE RANGE</div>
								<div class="c-right text-muted">2</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="bg-white awesome-shadow rounded menus">
						<h5 class="text-awesome font-weight-bold">Menu</h5>
						<div class="menu-list">
							<h5 class="font-weight-bold mt-4">Breakfast</h5>
							<div class="menu-item">
								<div class="menu-name">IBIRAHI</div>
								<div class="menu-price text-awesome">200 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">IRINDANZI</div>
								<div class="menu-price text-awesome">100 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">IBISHITANI</div>
								<div class="menu-price text-awesome">400 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">BANJIYA</div>
								<div class="menu-price text-awesome">50 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">SAMBUSA</div>
								<div class="menu-price text-awesome">200 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">ROLEX</div>
								<div class="menu-price text-awesome">300 Frw</div>
							</div>
						</div>
						<div class="menu-list">
							<h5 class="font-weight-bold mt-4">Lunch</h5>
							<div class="menu-item">
								<div class="menu-name">INYANGE</div>
								<div class="menu-price text-awesome">1000 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">CHAPATI NIBISHIMBO</div>
								<div class="menu-price text-awesome">500 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">UMUCERI NISOSI</div>
								<div class="menu-price text-awesome">400 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">BANJIYA</div>
								<div class="menu-price text-awesome">1500 Frw</div>
							</div>
							<div class="menu-item">
								<div class="menu-name">INYAMA</div>
								<div class="menu-price text-awesome">800 Frw</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>