:root{
	--awesome-red  : #cc4679;
	--awesome-light : #ffffff;
	--awesome-lighter: #d0cbcd;
	--awesome-bluesky : #f5fafc;
	--awesome-orange : #ff6000;
	--awesome-dark : #3b3b3b;
	--awesome-darker: #151515;
}
