<div class="dashboard">
	<div class="search-banner">
		<div class="text-banner font-weight-bold">Find nearby restaurants</div>
		<div class="search-form">
			<input type="text" name="search" class="" placeholder="Search for restaurants">
		</div>
	</div>
	<div class="restaurants-list">
		<h4 class="text-center restaurants-heading font-weight-bold mt-0">Our restaurants</h4>
		<div class="restaurants-slider">
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2">
						Resto
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2">
						Resto
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2">
						Resto
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2">
						Resto
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2">
						Resto
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
		</div>
		<div class="explore text-center">
			<a href="" class="btn btn-sm bg-awesome-orange px-4">Explore more</a>
		</div>
	</div>
	<div class="container guides text-center">
		<h4 class="font-weight-bold mb-0">How it works?</h4>
		<div class="row steps">
			<div class="col-md-4">
				<img src="../assets/images/step1.png" class="mb-4">
				<h5 class="font-weight-bold">Step uno</h5>
				<div class="guide text-muted">
					Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit,<br>sed do eiusmod
				</div>
			</div>
			<div class="col-md-4">
				<img src="../assets/images/step2.png" class="mb-4">
				<h5 class="font-weight-bold">Step dos</h5>
				<div class="guide text-muted">
					Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit,<br>sed do eiusmod
				</div>
			</div>
			<div class="col-md-4">
				<img src="../assets/images/step3.png" class="mb-4">
				<h5 class="font-weight-bold">Step tres</h5>
				<div class="guide text-muted">
					Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit,<br>sed do eiusmod
				</div>
			</div>
		</div>
	</div>
	<div class="phone-banner">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-7">
					<img src="../assets/images/phone.png" class="phone">
				</div>
				<div class="col-md-5 phone-description">
					<h4 class="font-weight-bold text-light phone-heading mb-4">Get the app</h4>
					<div class="text-light mb-4">
						Lorem ipsum dolor sit amet, consectetur <br>
						adipisicing elit, sed do eiusmod.
					</div>
					<button class="btn btn-light bg-light btn-sm px-4">Submit</button>
				</div>
		</div>
		</div>
	</div>
</div>