<div class="dashboard">
	<div class="search-banner no-bg">
		<div class="text-banner font-weight-bold">10 found restaurants</div>
		<div class="search-form">
			<input type="text" name="search" class="" placeholder="Search for restaurants">
			<span class="icon icon-search search-icon">
			</span>
		</div>
	</div>
	<div class="restaurants-list">
		<h4 class="text-center restaurants-heading font-weight-bold mt-0">Our restaurants</h4>
		<div class="restaurants-slider">
			<div class="restaurant card" (click)="showRestaurant(1)">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2 font-weight-bold">
						KGSM
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card" (click)="showRestaurant(2)">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2 font-weight-bold">
						KGSM
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2 font-weight-bold">
						KGSM
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2 font-weight-bold">
						KGSM
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
			<div class="restaurant card">
				<div class="card-body mb-0 p-1 m-0">
					<img src="../../assets/images/food.png">
				</div>
				<div class="card-footer p-1 bg-white">
					<div class="rounded-circle bg-dark mr-2 font-weight-bold">
						KGSM
					</div>
					<div class="restaurant-description">
						<div class="font-weight-bold">KUGASIMA CAFFEE</div>
						<span class="text-muted">$$$ - Kimihurura</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>